@import "tailwindcss";

@theme {
  --color-section: #fafaff;
  --color-primary: #000000;
  --color-secondary: #9af039;
}

@media (max-width: 768px) {
  .custom-gradient {
    background: linear-gradient(58deg, #aeebae70, #f1b36679, #aeebae70);
  }
}

@layer utilities {
  /* Chrome, Safari, Edge */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.top-navbar {
  top: "var(--navbar-height)";
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 2px #d9ff02; /* yellow-400 */
}

.outline-text-title {
  color: transparent;
  -webkit-text-stroke: 1.5px #d9ff02; /* yellow-400 */
}

.form_input:focus {
  border: 1px solid #9af039;
  outline: 1px solid #9af039;
}

.form_input {
  outline: none;
}
